#index:
#    path: /
#    controller: App\Controller\DefaultController::index
index:
   path: /
   controller: App\Controller\MainController::index

catchall:
   path: /{req}
   defaults: { _controller: App\Controller\MainController::index }
   requirements:
      req: .*